body {
  font-family: "Arial", sans-serif;
}

.page {
  background-color: #0a0a0a;
  color: #f3f4f6;
  min-width: 500px;
}
.page__header {
  padding: 1rem;
  background-color: rgb(22.75, 22.75, 22.75);
}
.page__content {
  padding: 2rem;
}
.page__footer {
  padding: 1rem;
  text-align: center;
  background-color: rgb(35.5, 35.5, 35.5);
}
.page--light {
  background-color: #f3f4f6;
  color: #0a0a0a;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.floating-animation {
  animation: float 3s ease-in-out infinite;
}





.btn-purple {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 0.375rem;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.3s ease;
}

.btn-purple {
  background-color: #7e22ce;
  color: white;
}
.btn-purple:hover {
  background-color: #6b21a8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}