@use 'variables' as *;

// layouts.scss

@mixin container($max-width: 1280px) {
  width: 90%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  font-family: $font-main;
}


.page {
  background-color: $gray-950;
  color: $gray-100;
  min-width: 500px;


  &__header {
    padding: 1rem;
    background-color: lighten($gray-950, 5%);
  }

  &__content {
    padding: 2rem;
  }

  &__footer {
    padding: 1rem;
    text-align: center;
    background-color: lighten($gray-950, 10%);
  }


}

.header {
  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem; // équivaut à Tailwind gap-2

    img {
      width: 2.5rem;  // équivaut à w-10
      height: 2.5rem; // équivaut à h-10
    }

    span {
      font-weight: bold;
      font-size: 1.25rem; // équivaut à text-xl
      color: #fff; // text-white
      cursor: pointer;

      &:focus {
        outline: 2px solid #a855f7; // violet (focus visible)
        outline-offset: 2px;
      }
    }
  }
}


.presentation {
  &__content {
    display: grid;
    grid-template-columns: 1fr; // mobile : une colonne
    gap: 2rem;
    align-items: center;
    padding: 2rem 1rem;


    p {
      color: #e5e7eb; 
      line-height: 1.6;
      font-size: 1rem;

      span {
        color: #a78bfa; 
        font-weight: 600;
      }
    }

  }

}