@use 'variables' as *;
@use 'mixins' as *;

// layouts.scss


body {
  font-family: $font-main;
}


.page {
  background-color: $gray-950;
  color: $gray-100;
  min-width: 500px;


  &__header {
    padding: 1rem;
  
  }

  &__content {
    padding: 2rem;
  }

  &__footer {
    padding: 1rem;

   
  }


}




