// Variables SCSS :

$gray-950: #0a0a0a; // équivalent Tailwind bg-gray-950
$gray-100: #f3f4f6; // équivalent Tailwind text-gray-100
$primary-color: #1f2937;   
$secondary-color: #ffffff; 
$font-main: 'Arial', sans-serif;
$font-secondary: 'Courier New', monospace;
$font-size-base: 16px;
$purple-light: #c8a2ff; // h2

// _variables breakpoint.
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;




