// Variables SCSS :

$gray-950: #0a0a0a; // équivalent Tailwind bg-gray-950
$gray-100: #f3f4f6; // équivalent Tailwind text-gray-100
$primary-color: #1f2937;   
$secondary-color: #ffffff; 
$font-main: 'Arial', sans-serif;
$font-secondary: 'Courier New', monospace;
$font-size-base: 16px;
$purple-light: #c8a2ff; // h2





// Couleurs  section acteurs 
$color-text-light: #f3f4f6;       // text-gray-100
$color-text-muted: #9ca3af;       // text-gray-400
$color-primary: #818cf8;          // indigo-400
$color-facebook: #3b82f6;       // Couleur normale
$color-facebook-hover: #2563eb;
$color-twitter: #1da1f2;
$color-instagram: #e1306c;
$color-twitter-hover: #0d8ecf;
$color-instagram-hover: #b22a5b;

$linkedin-color: #1D4ED8;
$linkedin-hover: #1E40AF;
$color-border: #6b7280;           // border-gray-500



$text-light: #d1d5db; // gris clair
$text-accent: #a78bfa; 


